/**
 * Main menu icons.
 */
.toolbar-icon.toolbar-icon-virtual-events-admin-config:before {
  background-color: var(--colorGinIcons);
  background-image: none;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-size: 18px 18px;
  mask-size: 18px 18px;
  mask-image: url(../images/icons/toolbar.svg);
  -webkit-mask-image: url(../images/icons/toolbar.svg);
}
