<h3>{{ 'Thank you for joining the meeting'|t }}</h3>
<script type="text/javascript">
  var url = '{{redirect_to}}';
  if(window.self !== window.top){
    if(url){
      parent.location.href = url;
    }else{
      parent.location.reload();
    }
  }
</script>
